<%- include('partials/header') %>

<div class="jumbotron centered">
    <p class="lead"> Enter Correct Password</p>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Try Again</a>
</div>


<%- include('partials/footer') %>