<%- include('partials/header') %>

<div class="jumbotron centered">

<p class="lead"> OOPS Look like you are Stranger !</p>
<a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>

</div>

<%- include('partials/footer') %>